.center {
  text-align: center;
}

input.example-right-align {
  -moz-appearance: textfield;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.field-app {
  width: 70%;
}

.mat-form-field-appearance-legacy .mat-hint {
  color: #e20201 !important;
}
